@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: aliceblue;
}
*{
    font-family: 'Ubuntu', sans-serif;

    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
  }
nav{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round' , sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0px 12px;
}
.brand img{
    height: 50px;
    width: 50px;
    padding: 0px  8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 5vh;
    background-color: black;
    color: aliceblue;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    margin: 15px auto;
    
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.songItemContainer{
    margin-top: 14px;
}

.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    color: azure;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 20px; */
    padding-top: 20px;
    padding-bottom: 20.5px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 28px;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 34px;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;

}
.songItem img{
    width: 25px;
    margin: 17px 17px;
    border-radius: 34px;
}
.timeStamp{
    margin: 0 17px;
}
.timeStamp i{
    cursor: pointer;
}
.songInfo{
    font-size: 1rem;
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.354s ease-in;
}